{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> My Website </title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/accordion.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="theme">

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand header-title" href="#"> My Website </a>
    </nav>

    <button class="accordion"> Aktivitas </button>
      <div class="panel">
        <ul>
          <li> Perkuliahan - Senin s/d Jumat </li>
          <li> Rapat Pleno Konser PSPO - Kamis </li>
          <li> Rapat Acara Natal Asrama UI - Minggu </li>
        </ul>
      </div>

    <button class="accordion">Pengalaman Organisasi / Kepanitiaan</button>
      <div class="panel">
        <ul>
          <li> DPM Fasilkom UI 2019 - Komisi Pengawasan II </li>
          <li> PJ Publikasi dan Dokumentasi Paskah Asrama UI 2019 </li>
          <li> Staff Acara Natal Asrama UI 2018 </li>
          <li> Staff Acara Teknis Konser Natal PSPO UI 2019 </li>
        </ul>
      </div>

    <button class="accordion">Prestasi</button>
      <div class="panel">
        <ul>
          <li> Membahagiakan diri sendiri. </li>
          <li> Bertahan sampai saat ini. </li>
          <li> Menghafal banyak lagu Anime. </li>
          <li> (Tidak bisa) Membagi waktu nonton Anime dengan Hidup. </li>
        </ul>
      </div>

    <div class="change-button">
      <button id="change-theme-btn-1" class="btn-primary"> Toggle 1 </button>
      <button id="change-theme-btn-2" class="btn-primary"> Toggle 2 </button>
    </div>

    <script src="{% static 'js/accordion.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </body>
</html>
