.accordion {
  background-color: gold;
  color: #000;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active .accordion:hover {
  background-color: gold;
}

.panel {
  background-color: #D4AF37;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
