nav {
  margin-bottom: 25px;
  background-color: gold !important;
}

a {
  color: #000 !important;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 24pt;
}

.btn-primary {
  background-color: gold !important;
  border-color: #333 !important;
  color: #000 !important;
  padding: 5px;
}

.change-button {
  text-align: center;
}

.theme-dark {
  background-color: #232323 !important;
}
